@import url('https://fonts.googleapis.com/css?family=Raleway');
body {
    height: 100%;
    margin: 0;
    font-family: Raleway;
}
nav {
    background-color: darkorange;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 8vh;
}
nav > ul {
    
}
header {
    background-color: darkgrey;
    height: 100vh;
}
header > img {
    display: block;
    margin: auto;
    height: 50%;
    margin-top: 25vh;
    margin-bottom: 25vh;
}
div {
    margin: 20vh 15vw;
}
div > p1 {
    text-align: center;
    font-size: 3vh;
}